@import '../styles/colors.scss';
@import '../styles/configs.scss';

body {
  background-color: $main-bg;
}

.title {
  text-align: center;
  font-weight: bold;
}

.input-wrapper {
  display: flex;

  input {
    margin-right: 8px;
    padding: 4px 12px;
    border: none;
    border-radius: $border-radius;
    width: 100%;

    &:focus {
      outline: 1px solid $grey-3;
    }
  }

  .button-save {
    padding: 0 8px;
    border-radius: $border-radius;
    background-color: #0079bf;
    color: $white-dark;
  }
}
